-
  var error = {
    type: 500,
    title: "Что-то пошло не так",
    message: "Причин может быть много: сервер не выдержал нагрузку или в коде ошибка. Попробуйте повторить попытку позже.",
  }

doctype html
include ../partials/head
body
  .wrapper-color
    include ../partials/header
    include ../partials/error
    include ../partials/footer

  include ../partials/script
