ul.themes
  - var activeId = activeCategory && activeCategory.id
  each category in categories
    if category.count > 0
      - var isActive = (activeId === category.id)
      - var href = isActive || `/articles/category/${category.id}`
      - var activClass = isActive && "themes__item-link--active"

      li.themes__item
        a.themes__item-link(href=href class=activClass)
          =category.name
          sup=category.count


