main
  h1.visually-hidden Ошибка #{error.type}
  section.error(class=`error--${error.type}`)
    h2.error__title.title.title--big=error.title
    if error.message
      p.error__text.text.text--big=error.message
    a.error__link.text.text--big(href="/") Вернуться на главную
