header.header(class=(error ? "header--error" : null))
  a.header__logo.logo(class=(error ? `header__logo--${error.type}` : null) href="/")
    img(src="/img/icons/logo.svg" alt="логотип Типотеки")

  if user
    a.button.button--colored.header__button-new(href="/articles/add") Новая запись
    .header__dropdown
      button.button.button--burger.header__burger Открыть меню
      ul.navigation.header__navigation
        li.navigation__item
          a(href="/my") Публикации
          a(href="/my/categories") Категории
          a(href="/my/comments") Комментарии

  else
    nav.header__nav
      ul.header__nav-list
        li.header__list-item
          a.header__registration(href="/register") Регистрация
        li.header__list-item
          a.header__enter(href="/login") Вход с паролем
  a.header__search.button.button--search(href="/search" aria-label="поиск по сайту")
