head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width,initial-scale=1")
  meta(name="description" content="Личный блог Типотека")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")

  title Типотека

  link(rel="stylesheet" href="/css/style.min.css")

  link(rel="preload" href="/fonts/Inter-Regular.woff2" as="font" crossorigin="anonymous")
  link(rel="preload" href="/fonts/Inter-Medium.woff2" as="font" crossorigin="anonymous")
  link(rel="preload" href="/fonts/SFProDisplay-Regular.woff2" as="font" crossorigin="anonymous")

  link(rel="icon" href="/favicon.ico" sizes="any")
  link(rel="icon" href="/icon.svg" type="image/svg+xml")
  link(rel="apple-touch-icon" href="/apple-touch-icon.png")
  link(rel="manifest" href="/manifest.webmanifest")
