extends layout

block content
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href="/") Назад
            +timeLabel(article.date, "post__date")
            h2.post__title.title.title--main=article.title

            .post__themes
              include partials/categories

          if article.picture
            .post__picture
              img(src=`/img/${article.picture}` width="940" heigth="490" alt="пейзаж море, скалы, пляж")
          .post__text
            h3=article.announce
            p=article.text

      .post__wrapper.post__wrapper--comments
        include partials/comments
