.text {
  &--big {
    font-family: $fontSF;
    font-weight: normal;
    font-size: 21px;
    line-height: 1.43;
  }

  &--small {
    font-family: $fontInter;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.33;
  }

  &--signature {
    font-family: $fontInter;
    color: $signature-text-color;
  }
}
