$fontInter: "Inter", "Arial", sans-serif;
$fontSF: "SFProDisplay", "Arial", serif;

$transition: all 200ms ease;

$wrapper-width: 970px;
$wrapper-padding: 15px;

$black-color: #000000;
$white-color: #ffffff;
$blue-color: #0057ff;
$light-gray: #717171;
$color-gray: #c4c4c4;

$blue-bg: #bfdcf7;
$gray-bg-color: #f2f2f2;

$colored-btn-hover-color: #4786ff;
$date-color: $color-gray;
$error-color: #eb5757;
$item-bg-color: $white-color;
$menu-item-hover-color: #f2f8fd;
$menu-item-border-color: #bfdcf6;
$popup-close-btn-color: $color-gray;
$signature-text-color: #bdbdbd;
$text-hover-color: #2f80ed;
$validation-error-bg-color: #ffeded;
